/* iPhone 4 users only, ugh */
@media (max-width:325px) {
  #search_options {
    top: 60px;
  }
}

/* extra small! */
@media (max-width:576px) {
  #credits .row {
    border-bottom: none;
  }

  #credits .row .name {
    float: none;
  }

  #credits .row .position {
    text-align: left;
    float: none;
    padding-left: 0px;
  }

  #custom_tag_input {
    width: 50% !important;
  }

  .event>i {
    visibility: visible;
    display: block
  }

  .event_form>tbody>tr>th, .event_form>tbody>tr>td {
    display: block;
  }

  .event_form .ui-datepicker {
    width: 100%
  }

  #EventDescription_tbl {
    width: auto !important;
  }

  #flash_messages {
    left: 70px;
  }

  #header_datepicker {
    float: none;
  }

  #header_nav_datepicker {
    max-width: 100%;
  }

  #header_nav_datepicker ul {
    float: none;
  }

  #header_nav li {
    display: block;
  }

  iframe.widgets {
    height: 350px;
  }

  #search_form {
    margin-top: 5px;
    text-align: center;
  }

  #search_options_toggler {
    margin-right: 0px;
  }

  #selected_images input.caption {
    width: auto;
  }

  table.calendar a {
    visibility: collapse;
  }

  table.calendar tbody li {
    max-height: 15px;
    text-align: center;
  }

  table.calendar tbody td a.date {
    visibility: visible;
  }

  ul.event_accordion .actions {
    margin-right: 0px;
  }

  ul.event_accordion .details {
    font-size: 12px;
    margin-left: 5px;
  }

  ul.event_accordion .images {
    max-width: 100%;
    float: none;
  }
}

/* small! */
@media (min-width:576px) and (max-width:768px) {
  #custom_tag_input {
    width: 50% !important;
  }

  #EventDescription_tbl {
    width: auto !important;
  }

  .event_form .ui-datepicker {
    width: 100%
  }

  #flash_messages {
    left: auto;
    right: 20px;
  }

  #header_corner .tagline {
    text-align: center;
  }

  #header_corner ul {
    text-align: center;
  }

  #header_nav {
    margin-top: 2%;
  }

  #header_nav li {
    margin-left: 40px;
  }

  #header_nav_datepicker {
    left: 0px;
    right: -330px;
    width: auto;
  }

  iframe.widgets {
    height: 375px;
  }

  #search_form {
    text-align: center;
  }

  #selected_images input.caption {
    width: auto;
  }
}

/* medium! */
@media (min-width:768px) and (max-width:992px) {
  #header_corner .tagline {
    text-align: center;
  }

  #header_corner ul {
    text-align: center;
  }

  #header_nav {
    margin-top: 2%;
  }

  #header_nav li {
    margin-left: 15px;
  }

  #header_nav_datepicker {
    left: auto;
    right: 0;
  }

  #search_form {
    text-align: center;
  }

  #search_options {
    margin: 0px;
    left: auto;
  }
}

/* large! */
@media (min-width:992px) and (max-width:1200px) {
  #content_wrapper {
    margin-bottom: 0px;
  }

  #header_nav {
    margin-top: 10px;
  }

  #header_nav_datepicker {
    left: -50px;
  }

  #header_nav li {
    margin-left: 40px;
  }

  #search_form {
    text-align: center;
  }

  #search_options {
    right: 170px;
    left: auto;
  }
}

/* extra large! */
@media (min-width:1200px) {
  #content_wrapper {
    margin-bottom: 0px;
  }

  #header_corner {
    margin-right: 20px;
    margin-top: 10px;
  }

  #header_corner .tagline {
    text-align: right;
  }

  #header_corner ul {
    text-align: right;
    margin-left: -15px;
    float: right;
  }

  #header h1 a {
    margin-left: 5px;
    max-width: 400px;
  }

  #header h1 div.title {
    word-break: normal;
  }

  #header_nav {
    margin-top: 30px;
  }

  #header_nav li {
    margin-left: 40px;
  }

  #header_nav ul {
    text-align: left;
  }

  #header_nav_datepicker li {
    margin-left: 0px;
  }

  #search_form {
    margin-top: 30px;
  }

  #search_options {
    margin-right: 130px;
  }

  #search_options_toggler {
    float: right;
    margin-right: 43px;
  }
}
