article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) {
    display: none
}

[hidden] {
    display: none
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

html, button, input, select, textarea {
    font-family: sans-serif;
    color: #222
}

body {
    margin: 0;
    font-size: 1em;
    line-height: 1.4
}

::-moz-selection {
    background: #3A4040;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #3A4040;
    color: #fff;
    text-shadow: none
}

a {
    color: #00e
}

a:visited {
    color: #551a8b
}

a:hover {
    color: #06e
}

a:focus {
    outline: thin dotted
}

a:hover, a:active {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: 700
}

blockquote {
    margin: 1em 40px
}

dfn {
    font-style: italic
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: 700
}

pre, code, kbd, samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

q {
    quotes: none
}

q:before, q:after {
    content: "";
    content: none
}

small {
    font-size: 85%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

ul, ol {
    margin: 1em 0;
    padding: 0 0 0 40px
}

dd {
    margin: 0 0 0 40px
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

form {
    margin: 0
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

label {
    cursor: pointer
}

legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
    white-space: normal
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle
}

button, input {
    line-height: normal
}

button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible
}

button[disabled], input[disabled] {
    cursor: default
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    *width: 13px;
    *height: 13px
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td {
    vertical-align: top
}

.chromeframe {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0
}

.ir {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
    *line-height: 0
}

.ir br {
    display: none
}

.hidden {
    display: none!important;
    visibility: hidden
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

.invisible {
    visibility: hidden
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    *zoom: 1
}

@media print {
    * {
        background: transparent!important;
        color: #000!important;
        box-shadow: none!important;
        text-shadow: none!important;
        filter: none!important;
        -ms-filter: none!important
    }
    a, a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: ""
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }
    thead {
        display: table-header-group
    }
    tr, img {
        page-break-inside: avoid
    }
    img {
        max-width: 100%!important
    }
    @page {
        margin: .5cm
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3
    }
    h2, h3 {
        page-break-after: avoid
    }
}

@font-face {
    font-family: MuncieEventsIcons;
    src: url(/fonts/icons/muncie_events_icons.ttf);
    src: url(/fonts/icons/muncie_events_icons.eot?#iefix) format('embedded-opentype'), url(/fonts/icons/muncie_events_icons.woff) format('woff'), url(/fonts/icons/muncie_events_icons.ttf) format('truetype'), url(/fonts/icons/muncie_events_icons.svg#muncie_events_iconsregular) format('svg');
    font-weight: 400;
    font-style: normal
}

[class^=icon-]:before, [class*=" icon-"]:before {
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    cursor: default;
    display: inline-block;
    font-family: MuncieEventsIcons;
    font-style: normal;
    font-weight: 400;
    height: auto;
    line-height: normal;
    margin-top: 0;
    text-decoration: inherit;
    vertical-align: baseline;
    width: auto
}

a [class^=icon-]:before, a [class*=" icon-"]:before {
    cursor: pointer
}

i.icon-me-logo:before {
    content: '\F000'
}

i.icon-activism:before {
    content: '\F001'
}

i.icon-art:before {
    content: '\F002'
}

i.icon-theater:before {
    content: '\F003'
}

i.icon-education:before {
    content: '\F004'
}

i.icon-film:before {
    content: '\F005'
}

i.icon-government:before {
    content: '\F006'
}

i.icon-music:before {
    content: '\F007'
}

i.icon-religion:before {
    content: '\F008'
}

i.icon-sports:before {
    content: '\F009'
}

i.icon-general-events:before {
    content: '\F00A'
}

.my-mfp-zoom-in .mfp-figure {
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8)
}

.my-mfp-zoom-in.mfp-ready .mfp-figure {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.my-mfp-zoom-in.mfp-removing .mfp-figure {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0
}

.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out
}

.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: .8
}

.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0
}

.ContentArea {
    background-color: #fff
}

.LoginIndented {
    margin-left: 115px
}

.RegisterIndented {
    margin-left: 155px
}

@font-face {
    font-family: Harabara;
    src: url(/fonts/Harabara.ttf)
}

th {
    text-align: left
}

.clearfix {
    *zoom: 1
}

.clearfix:after {
    clear: both
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table
}

a {
    color: #0b54a6;
    text-decoration: none
}

a:visited {
    color: #0b54a6
}

a:hover {
    text-decoration: underline
}

a:active, a:hover {
    color: #ba3d1a
}

a.with_icon {
    text-decoration: none
}

a.with_icon:hover span {
    text-decoration: underline
}

.light_text {
    color: #666
}

.footnote {
    color: #555;
    font-size: 80%
}

.ui-tooltip {
    font-size: 80%;
    padding: 5px
}

.ui-effects-transfer {
    background-color: rgba(0, 0, 0, .2);
    border: 1px dotted #555
}

.Header {
    font-family: Harabara;
    font-weight: 400;
    letter-spacing: 2px;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, .25)
}

.MainColumn {
    margin: 0 auto;
    width: 1000px
}

body {
    background: #838c95 url(/img/boyum_map.jpg) no-repeat center top;
    background-size: 100% auto;
    font-family: Tahoma, sans-serif
}

#header {
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    font-weight: 700;
    padding-bottom: 5px;
    position: relative;
    width: 100%;
}

#header>div {
    position: relative;
    margin: 0 auto;
}

#header>div>div {
    float: none;
}

#header h1 {
    margin: 0;
    text-align: center;
    font-family: Harabara;
    font-weight: 400;
    letter-spacing: 2px;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, .25)
}

#header h1 a {
    background-color: #cd5128;
    margin: 5px auto;
    border-radius: 10px;
    box-shadow: -4px 4px 5px rgba(50, 50, 50, .5);
    float: left;
    padding: 10px;
    position: relative;
    width: 100%;
}

#header h1 a:hover, #header h1 a:focus {
    text-decoration: none
}

#header h1 a:hover i:before, #header h1 a:focus i:before {
    text-shadow: -2px 2px 5px rgba(0, 0, 0, .8)
}

#header h1 a i:before {
    color: #fff;
    font-size: 80px;
    line-height: 80px;
    margin-top: -10px;
    transition: all 1s
}

#header h1 i.icon {
    color: #fff;
    font-size: 150px
}

#header h1 div.title {
    display: block;
    line-height: 100%
}

#header h1 span {
    text-transform: lowercase
}

#header h1 span:nth-of-type(1) {
    color: #fff
}

#header h1 span:nth-of-type(2) {
    color: #0c365a
}

#header_corner {
    padding-top: 5px;
    float: left;
}

#header_corner .tagline {
    display: block;
    font-size: 25px;
    line-height: 100%;
    text-align: center;
    word-spacing: -2px;
    font-family: Harabara;
    font-weight: 400;
    letter-spacing: 2px;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, .25)
}

#header_corner ul {
    line-height: 100%;
    margin: 0;
    padding: 0;
    text-align: center
}

#header_corner li {
    display: inline-block;
    font-size: 80%;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 15px
}

#header_corner li a {
    color: #fff;
    text-decoration: none
}

#header_corner li a:hover, #header_corner li a:focus {
    text-decoration: underline
}

#header_corner i[class^=icon-]:before {
    font-size: 31px;
    margin: -6px 1px 0 1px;
    vertical-align: -3px
}

#header_corner .punctuation {
    color: #cd5128
}

#header_nav {
    padding: 0 15px;
    text-align: center;
    width: 100%;
    display: inline-block;
}

#header_nav ul {
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

#header_nav ul ul.submenu {
    border: 2px solid #0c365a;
    border-radius: 5px;
    box-shadow: -4px 4px 5px rgba(50, 50, 50, .5);
    display: none;
    font-weight: 400;
    left: 0;
    padding: 0;
    position: absolute;
    top: 25px;
    z-index: 3;
    background-color: #fff
}

#header_nav ul ul.submenu li {
    display: block;
    margin: 0;
    padding: 2px 5px;
    white-space: nowrap
}

#header_nav ul ul.submenu li:last-child {
    border-bottom: 0
}

#header_nav ul ul.submenu li:nth-child(even) {
    background-color: #eee
}

#header_nav ul ul.submenu li a {
    display: block
}

#header_nav li {
    display: inline;
    list-style-type: none;
    padding: 0;
    position: relative
}

#header_nav>ul>li>a {
    color: #fff;
    text-decoration: none
}

#header_nav>ul>li>a:hover, #header_nav>ul>li>a:focus {
    text-decoration: underline
}

#header_nav_datepicker {
    background-color: #fff;
    border: 2px solid #0c365a;
    border-radius: 5px;
    box-shadow: -4px 4px 5px rgba(50, 50, 50, .5);
    display: block;
    font-weight: 400;
    left: 0;
    padding: 0;
    position: absolute;
    top: 25px;
    width: 480px;
    z-index: 4
}

#header_nav_datepicker>div {
    padding: 10px
}

#header_nav_datepicker ul {
    color: #000;
    float: left
}

#header_nav_datepicker li {
    display: block;
    padding-bottom: 10px
}

#header_nav_datepicker li a {
    color: #222;
    font-weight: 700
}

#header_nav_datepicker li span.no_events {
    color: #888;
    font-weight: 700
}

#header_nav_datepicker .ui-widget-content {
    border: 0
}

#header_datepicker {
    float: right;
}

#search_form {
    float: right;
    margin-top: 20px;
}

#search_form div.input {
    padding: 0
}

#search_form input[type=text] {
    font-size: 90%;
    padding: 0;
    width: 120px
}

#search_form input[type=radio] {
    float: none
}

#search_form input[type=submit] {
    font-size: 90%
}

#search_form label {
    display: inline;
    margin: 0 0 0 5px
}

#search_autocomplete_loading {
    margin-right: 5px;
    visibility: hidden
}

#search_options_toggler {
    color: #fff;
    font-size: 80%
}

#search_options_toggler:hover, #search_options_toggler:focus {
    text-decoration: underline
}

#search_options {
    background-color: #fff;
    border: 2px solid #0c365a;
    border-radius: 5px;
    box-shadow: -4px 4px 5px rgba(50, 50, 50, .5);
    display: block;
    font-weight: 400;
    padding: 0;
    right: 0;
    top: 25px;
    z-index: 3
}

#search_options>div {
    padding: 10px
}

#search_options label {
    color: #222;
    font-size: 90%;
    line-height: normal
}

#divider {
    border-bottom: 2px dotted #0c365a;
    border-top: 2px solid #0c365a;
    height: 2px;
    margin: 0 0 5px
}

#body {
    margin: 0 auto;
    width: 1000px
}

#content_wrapper {
    border: 2px solid #0c365a;
    border-radius: 5px;
    box-shadow: -4px 4px 5px rgba(50, 50, 50, .5);
    background-color: #fff;
}

#content {
    padding: 15px
}

h1.page_title {
    margin-top: 0;
    font-family: Harabara;
    font-weight: 400;
    letter-spacing: 2px;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, .25)
}

#footer {
    margin: 0 auto;
    width: 1000px;
    color: #fff;
    font-size: 80%;
    margin-top: 15px;
    text-align: center
}

#footer a {
    color: #fff;
    text-decoration: underline
}

.under_header_back {
    display: inline-block;
    margin-top: -20px;
    margin-bottom: 20px
}

.ui-effects-transfer {
    border: 1px dotted #555
}

#sidebar {
    float: right;
}

#sidebar>div {
    border: 2px solid #0c365a;
    border-radius: 5px;
    box-shadow: -4px 4px 5px rgba(50, 50, 50, .5);
    margin-bottom: 25px;
    margin-top: 9px;
    padding: 15px;
    background-color: #fff
}

#sidebar>div.categories a {
    color: #222;
    display: block;
    text-decoration: none
}

#sidebar>div.categories a:hover .category_name {
    text-decoration: underline
}

#sidebar>div.categories a:hover i:before {
    color: #222
}

#sidebar>div.categories li {
    border-top: 1px solid #ddd;
    padding: 2px 0;
    margin: 2px 0
}

#sidebar>div.categories li:first-child {
    border-top: 0;
    padding-top: 0;
    margin-top: 0
}

#sidebar>div.categories i.icon:before {
    color: #555;
    float: right;
    font-size: 150%;
    line-height: 100%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2)
}

#sidebar>div.categories .upcoming_events_count {
    color: #666;
    display: inline-block;
    font-size: 80%;
    margin-left: 5px;
    max-width: 20px;
    overflow: visible
}

#sidebar>div.locations select {
    width: 100%
}

#sidebar>div.locations h2.loading {
    background-image: url(/img/loading_small.gif);
    background-position: right center;
    background-repeat: no-repeat
}

#sidebar h2 {
    background-color: #cd5128;
    box-shadow: -4px 4px 5px rgba(50, 50, 50, .5);
    color: #fff;
    font-size: 120%;
    margin: -25px -25px 5px -25px;
    padding: 0 0 0 10px;
    text-transform: uppercase;
    font-family: Harabara;
    font-weight: 400;
    letter-spacing: 2px;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, .25);
    border-radius: 5px;
}

#sidebar h2 a {
    color: #fff
}

#sidebar h2 .see_all {
    float: right;
    font-size: 70%;
    font-weight: 400;
    line-height: 180%;
    margin-right: 10px;
    text-transform: none
}

#sidebar ul {
    margin: 0;
    padding: 0
}

#sidebar li {
    list-style-type: none;
    padding: 0
}

#sidebar .no_results {
    color: #666;
    font-size: 80%
}

#sidebar .alert, #sidebar .alert a {
    color: red;
    font-weight: 700
}

#sidebar .admin_actions .count {
    color: red;
    display: inline-block;
    font-size: 80%;
    font-weight: 700;
    margin-left: 5px;
    max-width: 20px;
    overflow: visible
}

#sidebar_mailinglist p, #sidebar_widget p {
    font-size: 80%;
    margin: 0
}

#sidebar_mailinglist p a, #sidebar_widget p a {
    font-size: 100%;
    font-weight: 700
}

#front_page_announcement {
    margin-bottom: 15px
}

#front_page_announcement h2 {
    font-size: 110%;
    font-weight: 700;
    margin: 0
}

#front_page_announcement p {
    font-size: 80%;
    margin: 0
}

form>div {
    margin-bottom: 1em;
    padding: .5em;
    vertical-align: text-top
}

form label {
    font-weight: 700
}

form .required label:after {
    color: #e32;
    content: '*';
    display: inline
}

form div.submit {
    border: 0;
    margin-top: 10px
}

form .error {
    background: #FFDACC;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-weight: 400
}

form .error-message {
    -moz-border-radius: none;
    -webkit-border-radius: none;
    border-radius: none;
    border: 0;
    background: 0 0;
    margin: 0;
    padding-left: 4px;
    padding-right: 0
}

form .error, form .error-message {
    color: #9E2424;
    font-weight: 700;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    text-shadow: none
}

form .footnote {
    font-weight: 400;
    padding: 0;
    margin: 0
}

fieldset {
    border: 1px solid #888;
    margin-bottom: 1em;
    padding: 16px 10px
}

fieldset legend {
    font-size: 130%;
    font-weight: 700
}

fieldset fieldset {
    margin-top: 0;
    padding: 10px 0 0
}

fieldset fieldset legend {
    font-size: 120%;
    font-weight: 400
}

fieldset fieldset div {
    clear: left;
    margin: 0 20px
}

label {
    display: block;
    margin-bottom: 3px
}

select {
    vertical-align: text-bottom
}

select[multiple=multiple] {
    width: 100%
}

option {
    padding: 0 3px
}

input[type=checkbox] {
    margin: 0 6px 7px 2px;
    width: auto
}

input[type=radio] {
    float: left;
    line-height: 26px;
    margin: 6px 0;
    padding: 0;
    width: auto
}

input[type=submit] {
    display: inline;
    font-size: 110%;
    width: auto
}

div.checkbox label {
    display: inline
}

.radio label {
    line-height: 26px;
    margin: 0 0 6px 20px
}

#recaptcha_widget_div {
    margin-bottom: 0;
    padding: 0
}

#login div, #register div {
    padding: 0
}

#login div.input>label, #register div.input>label {
    display: inline-block;
    padding-right: 15px;
    text-align: right;
    vertical-align: top
}

#login div.password a, #register div.password a {
    display: inline-block
}

#login div.submit a, #register div.submit a {
    margin-left: 15px
}

#login .error-message, #register .error-message {
    font-size: 80%
}

#login div.text label, #login div.email label, #login div.password label {
    min-width: 100px
}

#login div.password a, #login div.submit, #login div.checkbox, #login .footnote, #login .error-message {
    margin-left: 115px
}

#register {
    width: 590px
}

#register div.text label, #register div.email label, #register div.password label, #register div.recaptcha label {
    min-width: 140px
}

#register div.password a {
    margin-left: 155px
}

#register div.submit, #register div.checkbox, #register .footnote, #register .error-message {
    margin-left: 155px
}

#register div.recaptcha {
    margin-top: 15px
}

#register div.recaptcha label {
    display: none
}

#register div.recaptcha .footnote {
    margin-left: 0
}

#register #recaptcha_widget_div {
    text-align: center
}

#register #recaptcha_widget_div>div {
    display: inline-block
}

#register div.checkbox label {
    vertical-align: bottom
}

#register div.submit {
    clear: none
}

#register_options {
    margin: 0 0 30px;
    padding: 0
}

#register_options li {
    border-right: 1px solid #999;
    display: inline-block;
    list-style-type: none;
    margin: 0 15px 0 0;
    padding: 0 15px 0 0
}

#register_options li:last-child {
    border-right: 0
}

div.event_accordion, .event_accordion_aside>div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

#event_accordion_loading_indicator {
    color: #666;
    line-height: 16px;
    text-align: center
}

#event_accordion_loading_indicator img {
    vertical-align: text-bottom
}

hgroup.event_accordion {
    font-family: Harabara;
    font-size: 120%;
    letter-spacing: 3px;
    margin-top: 10px
}

hgroup.event_accordion h2 {
    font-size: 120%;
    font-weight: 400;
    margin: 0;
    width: 200px
}

hgroup.event_accordion h2.day {
    color: #666;
    display: inline-block;
    float: none
}

hgroup.event_accordion h2.short_date {
    color: #000;
    display: inline-block;
    float: none
}

ul.event_accordion {
    margin: 0 0 30px;
    padding: 0
}

ul.event_accordion>li {
    background-color: #f0f0f0;
    border-color: transparent #ddd #ddd;
    border-style: solid;
    border-width: 0 1px 1px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative
}

ul.event_accordion>li.with_images a.tn_tiny {
    display: none
}

ul.event_accordion>li.with_images a.tn_tiny:first-child {
    display: block
}

ul.event_accordion>li.with_images a.tn_tiny img {
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 5px;
    float: right;
}

ul.event_accordion>li.with_images a.more_info_handle {
    min-height: 50px
}

ul.event_accordion>li:first-child {
    border-color: #ddd;
    border-width: 1px
}

ul.event_accordion>li:hover {
    border-color: #000;
    border-width: 1px;
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    margin-top: -1px;
    z-index: 2
}

ul.event_accordion>li:hover:first-child {
    margin-top: 0
}

ul.event_accordion a.more_info_handle {
    color: #000;
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 5px 5px 5px 25px;
    text-decoration: none;
    vertical-align: top
}

ul.event_accordion a.more_info_handle:hover .title {
    color: #ba3d1a;
    text-decoration: underline
}

ul.event_accordion a.more_info_handle:hover i.icon {
    color: #222
}

ul.event_accordion img.thumbnail {
    display: inline-block
}

ul.event_accordion i.icon {
    color: #555;
    float: left;
    font-size: 240%;
    margin-left: -21px;
    margin-right: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2)
}

ul.event_accordion ul.controls {
    font-weight: 700;
    line-height: 20px;
    margin: 10px 0 20px;
    padding: 0;
    text-align: center
}

ul.event_accordion ul.controls img {
    vertical-align: text-bottom
}

ul.event_accordion ul.controls li {
    list-style-type: none;
    margin: 0 20px;
    padding: 0
}

ul.event_accordion ul.controls li:first-child {
    margin-left: 0
}

ul.event_accordion ul.controls li:last-child {
    margin-right: 0
}

ul.event_accordion ul.controls li.prev {
    float: left;
    text-align: left;
    width: 100px
}

ul.event_accordion ul.controls li.next {
    float: right;
    font-weight: 700;
    font-size: 110%;
    text-align: right;
    width: 100px
}

ul.event_accordion ul.controls a {
    text-decoration: none
}

ul.event_accordion ul.controls a:hover span {
    text-decoration: underline
}

ul.event_accordion .title {
    color: #0b54a6;
    display: block
}

ul.event_accordion .when {
    display: block;
    float: left
}

ul.event_accordion .where {
    display: inline-block;
    padding-left: 5px
}

ul.event_accordion .location_details {
    color: #333;
    display: block;
    max-width: 600px;
    overflow: auto
}

ul.event_accordion .address {
    color: #333;
    display: block;
    max-width: 600px;
    overflow: auto
}

ul.event_accordion .more_info {
    overflow: hidden;
    position: relative
}

ul.event_accordion .details {
    font-size: 80%;
    margin-left: 25px;
    min-height: 15px
}

ul.event_accordion .details th {
    font-size: 100%;
    font-weight: 700;
    padding-right: 5px;
    vertical-align: top
}

ul.event_accordion .details td {
    padding: 0
}

ul.event_accordion .images {
    float: right;
    margin-bottom: 15px;
    margin-left: 15px;
    text-align: center;
    max-width: 50%;
}

ul.event_accordion .images a {
    display: inline-block;
    margin-top: 15px
}

ul.event_accordion .images a:first-child {
    margin-bottom: 0
}

ul.event_accordion .images .caption {
    display: block;
    font-size: 80%;
    line-height: 1.2em;
    overflow: auto
}

ul.event_accordion .description {
    background-color: #fff;
    line-height: 1.6em;
    margin: 15px;
    overflow: hidden;
    padding: 10px
    word-break: break-word;
}

ul.event_accordion .description p:first-of-type {
    margin-top: 0
}

ul.event_accordion .description p:last-child {
    margin-bottom: 0
}

ul.event_accordion .actions {
    font-size: 80%;
    margin-right: 15px;
    text-align: right
}

ul.event_accordion .actions>a, ul.event_accordion .actions>div {
    margin-left: 15px;
    vertical-align: top
}

ul.event_accordion .actions a {
    vertical-align: top
}

ul.event_accordion .actions a:last-child {
    margin-right: 0
}

ul.event_accordion .actions img {
    margin-right: 5px;
    vertical-align: text-bottom
}

ul.event_accordion .actions iframe {
    vertical-align: bottom
}

ul.event_accordion .actions .fb_iframe_widget {
    vertical-align: top
}

ul.event_accordion .actions .open {
    background-color: #fff;
    box-shadow: -4px 4px 5px rgba(50, 50, 50, .5)
}

a.thumbnail {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in
}

a.thumbnail:hover img {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .3)
}

.export_options_container {
    display: inline-block;
    padding: 0 5px;
    position: relative;
    text-align: left;
    transition: all .3s;
    z-index: 3
}

.export_options {
    background-color: #FFF;
    box-shadow: -4px 4px 5px rgba(50, 50, 50, .5);
    display: block;
    left: 0;
    padding: 0 5px;
    position: absolute;
    right: 0;
    z-index: 3
}

.export_options a {
    display: block
}

.event_accordion_instructions {
    background-color: #CFE5FF;
    border: 1px solid #99F;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #66666F;
    padding: 3px;
    text-align: center
}

.note {
    color: #666;
    font-size: 90%;
    margin: 0 0 5px
}

a.calendar_controls {
    font-weight: 700;
    font-size: 110%
}

.category_list ul {
    margin: 0 0 10px
}

.category_list ul li {
    display: block;
    list-style-type: none
}

.category_list img {
    vertical-align: middle
}

#load_more_events_wrapper {
    padding-top: 15px;
    text-align: center
}

.prev_next_day a {
    margin-right: 10px
}

.event .header_details table.details {
    font-size: 80%
}

.event .footer_details {
    color: #666;
    font-size: 80%
}

.event .footer_details a {
    color: #666;
    text-decoration: underline
}

.event table.details th {
    color: #555;
    padding-right: 5px;
    text-align: left;
    vertical-align: top
}

.event table.details td {
    color: #000;
    text-align: left;
    vertical-align: top
}

.event div.description {
    border-width: 1px 0;
    border-color: #AAA;
    border-style: solid;
    line-height: 1.6;
    margin: 10px 0;
    overflow: hidden;
    padding: 5px 10px
}

.event .actions {
    font-size: 80%;
    text-align: right
}

.event .actions>a, .event .actions>div {
    margin-left: 15px;
    vertical-align: top
}

.event .actions a {
    vertical-align: top
}

.event .actions a:last-child {
    margin-right: 0
}

.event .actions img {
    margin-right: 5px;
    vertical-align: text-bottom
}

.event .actions iframe {
    vertical-align: bottom
}

.event .actions .fb_iframe_widget {
    vertical-align: top
}

.event .actions .open {
    background-color: #fff;
    box-shadow: -4px 4px 5px rgba(50, 50, 50, .5)
}

.event .what .icon:before {
    font-size: 150%;
    margin-right: 5px;
    vertical-align: bottom
}

.event .what>a:first-child {
    font-weight: 700
}

.event .images {
    float: right;
    margin-bottom: 15px;
    margin-left: 15px;
    text-align: center;
    width: 200px
}

.event .images a {
    display: inline-block;
    margin-top: 15px
}

.event .images a:first-child {
    margin-bottom: 0
}

.event .images .caption {
    display: inline-block;
    font-size: 80%;
    line-height: 1.2em;
    max-width: 200px;
    overflow: auto
}

.event_series table {
    margin-bottom: 45px;
    width: 100%
}

.event_series tr:nth-child(even) {
    background-color: #EEE
}

.event_series td:nth-child(1) {
    color: #555;
    padding-right: 15px;
    width: 100px
}

.event_series td:nth-child(2) {
    color: #555;
    padding-right: 15px;
    width: 70px
}

.event_series td:nth-child(3) {
    padding-right: 15px
}

.event_series .author {
    color: #666;
    font-size: 80%
}

.event_series .author a {
    color: #666;
    text-decoration: underline
}

.event_series_form th {
    width: 50px
}

#events_in_series {
    width: 100%
}

#events_in_series>tbody>tr:nth-child(4n) {
    background-color: #EEE
}

#events_in_series>tbody>tr:nth-child(4n - 1) {
    background-color: #EEE
}

#events_in_series td {
    padding: 2px;
    vertical-align: middle
}

#events_in_series .deleted .date, #events_in_series .deleted .time, #events_in_series .deleted .title {
    color: #555;
    text-decoration: line-through
}

#events_in_series .action, #events_in_series .delete {
    font-size: .8em;
    width: 40px
}

#events_in_series .date {
    font-size: .8em;
    width: 80px
}

#events_in_series .time {
    font-size: .8em;
    width: 60px
}

#events_in_series .title {
    vertical-align: middle
}

#events_in_series thead {
    border-bottom: 1px solid #aaa;
    font-size: .8em;
    font-weight: 700
}

#events_in_series thead .delete {
    color: red
}

.edit_event_in_series {
    margin: 5px 0
}

.edit_event_in_series th {
    vertical-align: top;
    width: 50px
}

.edit_event_in_series td {
    vertical-align: top
}

#flash_messages {
    bottom: 0;
    left: 20px;
    position: fixed;
    z-index: 3
}

#flash_messages .messages_wrapper {
    clear: both;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 20px
}

#flash_messages .close {
    border: 1px solid #999;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: right;
    font-size: 80%;
    padding: 0 3px;
    margin: 0 20px 3px 0;
    background-color: #fff
}

#flash_messages p, #flash_messages pre {
    display: block;
    margin: 0 20px 0 0;
    padding: 0;
    width: auto;
    word-wrap: break-word
}

#flash_messages ul {
    font-size: 125%;
    margin: 0 20px 0 0;
    padding: 0
}

#flash_messages ul li {
    background-color: #cfe5ff;
    background-image: url(/img/icons/information.png);
    background-position: 5px 7px;
    background-repeat: no-repeat;
    border-color: #00006f;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    border-style: solid;
    border-width: 1px;
    clear: left;
    color: #00006f;
    display: inline-block;
    float: left;
    list-style-type: none;
    margin-bottom: 5px;
    min-height: 20px;
    min-width: 240px;
    padding: 5px 5px 5px 30px
}

#flash_messages ul li:last-child {
    margin-bottom: 0
}

#flash_messages ul li:first-child {
    border-top-width: 1px
}

#flash_messages ul li.error {
    background-color: #ffcbaf;
    background-image: url(/img/icons/cross-circle.png);
    border-color: #7f0000;
    color: #7f0000
}

#flash_messages ul li.success {
    background-color: #afffba;
    background-image: url(/img/icons/tick-circle.png);
    border-color: #004f00;
    color: #004f00
}

#flash_messages ul li img {
    margin-right: 10px;
    vertical-align: text-top
}

.error_message, .success_message, .notification_message {
    background-position: 5px 5px;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 1px;
    padding: 5px 5px 5px 25px;
}

.error_message {
    background-color: #ffcbaf;
    background-image: url(/img/icons/cross-circle.png);
    border-color: #7f0000;
    color: #7f0000
}

.success_message {
    background-color: #afffba;
    background-image: url(/img/icons/tick-circle.png);
    border-color: #004f00;
    color: #004f00
}

.notification_message {
    background-color: #cfe5ff;
    background-image: url(/img/icons/information.png);
    border-color: #00006f;
    color: #00006f
}

#image_tab_selected .loading {
    background-image: url(/img/loading.gif);
    background-position: center center;
    background-repeat: no-repeat;
    cursor: wait
}

#selected_images {
    margin: 15px 0;
    padding: 0
}

#selected_images li {
    background-color: #fff;
    border: 1px solid #999;
    list-style-type: none;
    margin: 5px;
    padding: 5px 5px 5px 80px
}

#selected_images li:first-child {
    border-color: #666;
    border-width: 2px;
    padding: 4px 4px 4px 79px
}

#selected_images img.selected_image {
    float: left;
    margin-left: -55px
}

#selected_images img.handle {
    float: left;
    margin-left: -75px
}

#selected_images img.remove {
    float: right
}

#selected_images p.caption {
    margin: 0 0 5px
}

#selected_images input.caption {
    margin-top: 5px;
    width: 400px
}

#selected_images label {
    font-weight: 400
}

#selected_images .handle {
    cursor: pointer
}

#image_form>div a {
    color: #0b54a6
}

#image_form .help ul {
    margin-left: 30px
}

#image_form .help ul:first-of-type {
    margin-bottom: 15px
}

#image_form .help h3 {
    margin: 0
}

#image_form ul.actions {
    margin: 0 0 15px;
    padding: 0
}

#image_form ul.actions li {
    border-right: 1px solid #aaa;
    display: inline-block;
    list-style-type: none;
    margin: 0 15px 0 0;
    padding: 0 15px 0 0;
    vertical-align: top
}

#image_form ul.actions li:last-child {
    border-right: 0
}

#image_form ul.actions a {
    display: inline-block
}

#image_select_container {
    max-height: 125px;
    overflow: auto
}

#image_select_container a {
    display: inline-block
}

#image_select_container a:hover img, #image_select_container a:focus img {
    border: 1px solid #000;
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3)
}

#image_select_container img {
    border: 1px solid transparent;
    margin: 0 5px 5px 0
}

#image_upload_rules_toggler {
    display: block;
    font-size: 80%;
    text-align: right
}

#image_upload_rules {
    display: none;
    font-size: 80%;
    margin: 5px 0
}

#image_upload_rules ul {
    margin: 0
}

.Ui-state-default {
    color: #555;
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(/jquery_ui/css/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: 400
}

.Ui-state-default_a {
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(/jquery_ui/css/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: 400;
    color: #555;
    text-decoration: none
}

.event_form>tbody>tr>th, .event_form>tbody>tr>td {
    padding: 5px;
    vertical-align: top
}

.event_form>tbody>tr>th {
    font-weight: 700;
    width: 90px
}

.event_form #eventform_hasendtime {
    float: left;
    padding-left: 0
}

.event_form #eventform_hasendtime select:first-child {
    margin-left: 10px
}

.event_form #add_end_time {
    margin-left: 10px
}

.event_form .toggler {
    font-size: 80%
}

.event_form #eventform_tags .input {
    margin: 0
}

.event_form #tag_editing {
    margin: 0
}

.event_form #EventTitle, .event_form #EventSeriesTitle, .event_form #EventLocation, .event_form #EventLocationDetails, .event_form #EventAddress, .event_form #EventCost, .event_form #EventAgeRestriction, .event_form #EventSource {
    width: 400px
}

.event_form #eventform_timestart_div {
    float: left;
    margin-bottom: 0;
    margin-right: 10px
}

.event_form #EventDescription {
    height: 200px;
    width: 400px
}

.event_form .in_series a {
    font-size: 80%
}

.event_form .in_series a:first-child {
    margin-left: 20px
}

.event_form #datepicker {
    margin-bottom: 0;
    padding: 0
}

.event_form #datepicker>div {
    margin-bottom: 0
}

.event_form .ui-datepicker-calendar td {
    border: 1px solid transparent
}

.event_form .ui-widget {
    font-size: 90%
}

.event_form .ui-datepicker {
    width: 14em
}

.event_form .ui-datepicker th {
    padding: 0
}

.AddressLoadingIndicator {
    background-image: url(/img/loading_small.gif);
    background-position: right center;
    background-repeat: no-repeat
}

#eventform_noaddress.loading {
    background-image: url(/img/loading_small.gif);
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 20px
}

#eventform_address th.loading {
    background-image: url(/img/loading_small.gif);
    background-position: right center;
    background-repeat: no-repeat
}

.SelectedDate {
    background-color: #27324F;
    background-image: none;
    color: #fff
}

#datepicker.multi .ui-state-active, #datepicker.multi .ui-widget-content .ui-state-active, #datepicker.multi .ui-widget-header .ui-state-active {
    color: #555;
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(/jquery_ui/css/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: 400
}

#datepicker.multi .ui-state-active a, #datepicker.multi .ui-state-active a:link, #datepicker.multi .ui-state-active a:visited {
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(/jquery_ui/css/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: 400;
    color: #555;
    text-decoration: none
}

#datepicker.multi .ui-state-highlight, #datepicker.multi .ui-widget-content .ui-state-highlight, #datepicker.multi .ui-widget-header .ui-state-highlight {
    color: #555;
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(/jquery_ui/css/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: 400
}

#datepicker.multi .ui-state-highlight a, #datepicker.multi .ui-widget-content .ui-state-highlight a, #datepicker.multi .ui-widget-header .ui-state-highlight a {
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(/jquery_ui/css/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: 400;
    color: #555;
    text-decoration: none;
    background-color: #27324F;
    background-image: none;
    color: #fff
}

#datepicker.single a.ui-state-active, #datepicker.single a.ui-state-active:link, #datepicker.single a.ui-state-active:visited {
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(/jquery_ui/css/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: 400;
    color: #555;
    text-decoration: none;
    background-color: #27324F;
    background-image: none;
    color: #fff
}

#datepicker.single .ui-state-highlight, #datepicker.single .ui-widget-content .ui-state-highlight, #datepicker.single .ui-widget-header .ui-state-highlight {
    color: #555;
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(/jquery_ui/css/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: 400
}

#datepicker.single .ui-state-highlight a, #datepicker.single .ui-widget-content .ui-state-highlight a, #datepicker.single .ui-widget-header .ui-state-highlight a {
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(/jquery_ui/css/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: 400;
    color: #555;
    text-decoration: none
}

#posting_rules_toggler {
    display: inline-block;
    margin-bottom: 15px
}

#posting_rules {
    margin-bottom: 15px
}

#posting_rules ul {
    padding-left: 20px
}

#moderate_events>ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

#moderate_events>ul>li {
    border-bottom: 1px solid #999;
    margin: 20px 0 0;
    padding: 0 0 20px
}

#moderate_events>ul>li:last-child {
    border-bottom: 0;
    margin: 0:padding:0
}

#moderate_events table {
    border-collapse: collapse;
    font-size: 80%;
    width: 100%
}

#moderate_events table th {
    width: 115px
}

#moderate_events table td, #moderate_events table th {
    padding: 5px
}

#moderate_events table tr:nth-child(even) {
    background-color: #ddd
}

#moderate_events .anonymous {
    color: #666
}

#moderate_events .unpublished {
    color: red
}

#moderate_events .actions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right
}

#moderate_events .actions li {
    display: inline-block;
    padding-left: 15px
}

#moderate_events .actions img {
    margin-right: 5px;
    vertical-align: middle
}

#moderate_events .post_body {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 5px
}

.daily_options td {
    padding: 0 5px;
    text-align: center
}

.daily_options td:first-child {
    padding-left: 0
}

.daily_options input {
    float: none;
    margin: 0
}

#mailing_list_frequency p:nth-of-type(2) {
    margin-top: 30px
}

#mailing_list_frequency th {
    font-size: 120%;
    padding: 0 10px 10px 0;
    vertical-align: middle
}

#mailing_list_frequency td {
    padding: 0 5px;
    vertical-align: middle
}

div#custom_event_type_options {
    margin-left: 20px
}

div#custom_event_type_options div {
    margin-bottom: 0;
    padding: 1px
}

div#custom_event_type_options img {
    margin-right: 5px;
    vertical-align: text-bottom
}

#custom_frequency_options {
    margin-left: 20px
}

#custom_frequency_options tr:first-child {
    border-bottom: 1px solid #888
}

#custom_frequency_options label {
    display: inline;
    font-weight: 400
}

#tag_editing {
    font-size: 90%;
    line-height: 16px;
    margin-bottom: 20px;
    overflow: visible;
    width: 100%
}

#tag_editing .label {
    font-weight: 700
}

#tag_editing img.expand_collapse {
    height: 10px;
    width: 10px
}

#tag_editing img.expand_collapse, #tag_editing img.leaf {
    margin-left: -15px;
    padding-right: 8px
}

#available_tags_container {
    border: 1px solid #aaa;
    padding: 5px
}

#available_tags_container>div {
    width: 100%
}

#available_tags {
    max-height: 300px;
    overflow: auto
}

#available_tags ul {
    margin: 0;
    padding-left: 15px;
    text-transform: capitalize
}

#available_tags ul .submenu_handle {
    cursor: pointer
}

#available_tags li {
    list-style-type: none
}

#available_tags a.selected {
    color: #000;
    cursor: text
}

#available_tags a.selected:hover {
    color: #000;
    text-decoration: none
}

#selected_tags_container {
    margin-top: 15px
}

#selected_tags a:after {
    content: ', '
}

#selected_tags a:last-child:after {
    content: ''
}

#tag_help_toggler {
    float: right;
    margin-left: 5px
}

.ui-autocomplete {
    font-size: 80%
}

#custom_tag_input_wrapper {
    margin-top: 15px
}

#tag_management_tabs {
    float: left;
    width: 100%
}

#tag_management_tabs a {
    color: #0b54a6
}

#tag_management_tabs .results {
    margin-top: 20px
}

#widgets_overview h2 {
    margin-top: 0
}

#widgets_overview>div {
    display: inline-block;
    vertical-align: text-top
}

#widgets_overview>div:first-child {
    border-right: 1px solid #999;
    margin-right: 15px;
    padding-right: 15px
}

.widget_controls_wrapper {
    clear: both;
    width: 970px
}

.widget_controls {
    border: 1px solid #000;
    float: left;
    font-size: 80%;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 5px;
    width: 250px;
    background-color: #fff
}

.widget_controls h2 {
    font-size: 130%;
    margin: 0 0 15px
}

.widget_controls h3 {
    font-size: 120%;
    font-weight: 400;
    margin: 0
}

.widget_controls h3 a {
    display: block
}

.widget_controls h3:first-child {
    margin-top: 0
}

.widget_controls>form>div {
    display: none;
    margin: 0;
    padding: 0
}

.widget_controls>form>div>div {
    margin-bottom: 15px;
    margin-left: 10px;
    padding: 0
}

.widget_controls label {
    display: inline-block;
    width: 50px
}

.widget_controls input[type=submit] {
    margin-left: 10px;
    margin-top: 15px
}

.widget_controls input[type=radio] {
    float: none;
    line-height: inherit;
    margin: 0;
    padding: 0
}

.widget_controls .note {
    color: #666;
    font-size: 90%
}

.widget_controls .text label, .widget_controls .text input, .widget_controls .borders label, .widget_controls .backgrounds label, .widget_controls .color_input {
    width: 100px
}

.widget_controls .checkbox label {
    font-weight: 400;
    width: auto
}

#WidgetFilter_categories {
    margin-left: 10px
}

#WidgetFilterOptions input[type=checkbox] {
    margin-left: 5px;
    width: 15px
}

#WidgetFilterOptions label {
    font-weight: 400;
    margin: 0;
    width: auto
}

#WidgetFilterOptions img.loading {
    display: none
}

#WidgetFilterOptions>div>div>div {
    margin-left: 30px
}

.widget_demo {
    margin-left: 275px;
    text-align: center;
    width: 650px
}

.widget_demo p {
    text-align: left
}

.widget_demo code {
    background-color: #efefef;
    display: block;
    font-size: 80%;
    overflow: auto;
    padding: 10px
}

.alternate_tag_link_color {
    color: #c3471e
}

#sidebar div.tag_cloud {
    margin-right: -15px;
    max-height: 200px;
    overflow: auto;
    padding-right: 15px;
    text-align: left
}

#tag_view_options {
    margin-bottom: 20px
}

#tag_view_options ul, #tag_view_options li {
    color: #999;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0
}

#tag_view_options a.selected {
    border-bottom: 1px solid #000
}

#tag_view_options li.no_tags i.icon:before {
    cursor: default
}

#tag_view_options th {
    text-align: right;
    padding-right: 15px
}

#tag_view_options .direction a {
    margin-right: 15px
}

#tag_view_options .categories li {
    padding-right: 10px
}

#tag_view_options .categories li i.icon:before {
    font-size: 130%;
    vertical-align: text-bottom
}

#tag_view_options .breakdown li {
    padding-right: 5px
}

#tag_view_options .breakdown li:first-child {
    padding-right: 10px
}

.tag_sublist .count {
    color: #666;
    font-size: 80%
}

#tag_index_cloud {
    text-align: center
}

#tag_index_cloud a:nth-child(even) {
    color: #c3471e
}

.tag_cloud {
    line-height: 120%;
    text-align: justify
}

.tag_cloud a {
    color: #0b54a6;
    display: block;
    vertical-align: middle
}

.tag_cloud a:nth-child(even) {
    color: #c3471e
}

#credits {
    margin: 0;
    padding: 0
}

#credits .row {
    border-bottom: 1px dashed #555;
    list-style-type: none
}

#credits .row .name {
    background-color: #FFF;
    float: left;
    font-weight: 700;
    margin-bottom: -3px;
    padding-right: 5px;
    position: relative;
    top: 4px
}

#credits .row .position {
    background-color: #FFF;
    color: #555;
    float: right;
    padding-left: 5px;
    position: relative;
    text-align: right;
    top: 4px;
    right: -2px
}

#credits .category {
    border-bottom: 1px solid #555;
    color: #555;
    font-size: 110%;
    letter-spacing: 7px;
    list-style-type: none
}

#search_result_tags {
    margin-top: 15px
}

#search_result_tags p {
    margin: 0
}

#search_result_tags ul {
    display: inline-block;
    margin: 0;
    max-height: 200px;
    overflow: auto
}

#search_results h2.search_results {
    display: inline-block;
    margin: 0
}

#search_results .note {
    color: #666
}

.jPicker label {
    display: inline
}

#user_view h1.page_title {
    display: inline
}

#my_account .fb_footnote {
    color: #666;
    font-size: 80%
}

.pagination {
    margin: 15px 0;
    text-align: center
}

.pagination>span {
    border: 1px solid #999;
    color: #999;
    display: inline-block;
    height: 22px;
    margin: 0;
    min-width: 24px;
    padding: 3px;
    text-align: center
}

.pagination a {
    display: inline-block;
    height: 22px;
    margin: -3px;
    min-width: 24px;
    padding: 3px;
    text-decoration: none
}

.pagination select {
    height: 30px;
    padding: 3px;
    vertical-align: bottom
}

#noscript {
    background-color: #FFCBAF;
    border: 1px solid #7F0000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    color: #7F0000;
    font-weight: 700;
    left: 15px;
    padding: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 10
}

#sql_dump {
    padding: 10px;
    background-color: #fff
}

.sql_dump {
    margin: 20px auto auto;
    width: 1000px
}
